@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Lato:wght@300&family=Nunito:ital@1&family=PT+Sans:wght@700&family=Source+Code+Pro&display=swap');


* {
    margin: 0; padding: 0;
    font-family: 'PT Sans', sans-serif;
}




.nav-bar .clickable img{
    width: 130px;
    margin-bottom: -57px;
    padding-left: 350px;
    color: white;
    pointer-events: auto;
}


.nav-bar {
    pointer-events: none;
    background-color: #404eed;
    padding-bottom: 150px;
    margin-top: -35px;
}

.nav-bar li {
    pointer-events: auto;
    display: inline;
}

.nav-bar li:hover {
    text-decoration: underline;
}

.nav-bar a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: white;
}

.nav-bar ul {
    display: flex;
    justify-content: center;

}

.button {
    pointer-events: auto;
    transition: box-shadow .3s;
    position: relative;
    top: -43px;
    left: 1435px;
    font-size: 13px;
    border: solid white;
    border-radius: 20px;
    background-color: white;
    width: 82px;
    padding: 8px;
}

.button:hover {
    color: blue;
    box-shadow: 0 11px 11px rgba(33,33,33,.2); 
}

.button a {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: -18px;
    margin-top: -15px;
    margin-bottom: -17px;
    color: black;
    width: 200px;
}

.imagine {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    padding-bottom: 40px;
    margin-top: 100px;
}

.pp {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: white;
    align-self: center;
}

.download {
    pointer-events: auto;
    text-align: center;
    background-color: white;
    border: none;
    color: black;
    padding: 18px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 9px;

    position: relative;
    bottom: -30px;
    left: 690px;

    box-shadow: 0 11px 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

.download:hover {
    transition: 0.3s;
    color: #5865f2;
}

.browser {
    pointer-events: auto;
    text-align: center;
    background-color: #23272a;
    border: none;
    color: white;
    padding: 18px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 9px;

    position: relative;
    bottom: -30px;
    left: 760px;

    box-shadow: 0 11px 11px rgba(33,33,33,.2); 
    cursor: pointer;
}

.browser:hover {
    transition: 0.3s;
    background-color: #363636;
}

.createan {
    padding-top: 100px;
    padding-bottom: 150px;
}

.createan .text h1{
    color: #23272a;
    font-size: 45px;
    margin-left: 1180px;
}

.createan .text p{
    color: #23272a;
    line-height: 28px;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 1180px;
}

.image2 {
    margin-bottom: -400px;
    margin-left: 330px;
}

.createan2 {
    background-color: #f6f6f6;
}

.createan2 {
    padding-top: 100px;
    padding-bottom: 150px;
}
.image3 {
    margin-left: 900px;
}

.createan2 h1 {
    color: #23272a;
    font-size: 45px;
    margin-top: -360px;
    margin-left: 300px;
}

.createan2 p {
    color: #23272a;
    margin-top: 20px;
    margin-left: 300px;
    font-size: 18px;
    line-height: 28px;
}

.createan3 {
    padding-top: 100px;
    padding-bottom: 150px;
}

.image4 {
    margin-left: 370px;
}

.createan3 h1 {
    color: #23272a;
    font-size: 45px;
    margin-top: -350px;
    margin-left: 1200px;
}

.createan3 p {
    color: #23272a;
    margin-left: 1200px;
    margin-top: 20px;
    font-size: 18px;
}

.createan4 {
    background-color: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 150px;
}

.createan4 h1 {
    color: #23272a;
    text-align: center;
}

.createan4 p {
    color: #23272a;
    margin-top: 20px;
    text-align: center;
}

.image5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.readyornot {
    margin-top: 100px;
}

.readyornot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.readyornot img {
    margin-bottom: -20px;
}

.createan4 .lastbutton {
    margin-top: 30px;
    font-size: 8px;

    background-color: #5865f2;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;

    position: relative;
    top: 25px;
    left: 840px;
}

.lastbutton h1{
    color: white;
}

.lastbutton:hover {
    transition: 0.3s;
    box-shadow: 0 11px 11px rgba(33,33,33,.2); 
    filter: blur(0.3px);
}

/* Footer */

.footer {
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: #23272a;
}

.footer .firstthings {
    color: white;
    margin-left: 400px;
}

.footer .firstthings p{
    margin-top: 15px;
    cursor: pointer;
}

.socials i{
    margin-left: 10px;
    margin-top: 25px;
    color: white;
}

.socials li {
    position: relative;
    margin-top: 30px;
    font-size: 30px;
    left: 390px;
    cursor: pointer;
    display: inline;
}


.footer .list li {
    list-style-type: none;
}

.footer .list {
    position: relative;
    margin-left: 750px;
    margin-top: -150px;
    color: white;
}

.footer .list h1 {
    color: #5865f2;
    font-size: 16px;
}

.list {
    line-height: 30px;
}

.listZ2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.listZ3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.listZ4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.listZ5:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ6:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ7:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ8:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ9:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ10:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ11:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ12:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ13:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ14:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ15:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ16:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ17:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ18:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ19:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ20:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ21:hover {
    cursor: pointer;
    text-decoration: underline;
}
.listZ22:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer .list2 li {
    list-style-type: none;
}

.footer .list2 {
    position: relative;
    margin-left: 950px;
    margin-top: -120px;
    color: white;
}

.footer .list2 h1 {
    color: #5865f2;
    font-size: 16px;
}

.list2 {
    line-height: 30px;
}

.footer .list3 li {
    list-style-type: none;
}

.footer .list3 {
    position: relative;
    margin-left: 1170px;
    margin-top: -150px;
    color: white;
}

.footer .list3 h1 {
    color: #5865f2;
    font-size: 16px;
}

.list3 {
    line-height: 30px;
}

.footer .list4 li {
    list-style-type: none;
}

.footer .list4 {
    position: relative;
    margin-left: 1400px;
    margin-top: -240px;
    color: white;
}

.footer .list4 h1 {
    color: #5865f2;
    font-size: 16px;
}

.list4 {
    line-height: 30px;
}